/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* body {
    padding-top: 15px;
} */

.header-wraper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background-color: #fff;
}
.title-slide {
    text-align: center;
}
.carousel {
    height: 650px;
}
.carousel-inner {
    height: 100%;
}
.carousel-item {
    overflow: hidden;
    height: 100%;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
/* .image-2 {
    max-width: 1360px;
    width: 100%;
    height: 650px;
}
.image-3 {
    max-width: 1360px;
    width: 100%;
    height: 650px;
} */
.div-boxes {
    margin-top: 70px;
}   
/* }.img-boxes {
    max-width: 265px;
    width: 100%;
} */
.h-2 {
    font-size: 17px;
    margin-top: 20px;
}
.image-opacity {
    position: relative;
    padding-top: 35%;
}
.image-opacity img {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
}
.image-opacity::before {
    content: '';
    background-color: #08AEEA;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 2;
}
.iframe-video {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    margin: auto;
    width: 50%;
    height: 50%;
    z-index: 3;
}

.iframe-video iframe {
    width: 100%;
    height: 100%;
}
.div-icon {
    margin-top: 140px; 
    margin-bottom: 70px; 
}
/* .div-icon .row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */

.img-relative {
    position: relative;
    max-height: 421px;
    height: 100%;
}
.p-absolute {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    background-color: yellow;
    padding: 4px;
}
.div-tour-package {
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.p {
    margin-top: 20px;
}
.img-surfing-relative {
    position: relative;
}
.div-surfing-absolute {
    position: absolute;
    left: 400px;
    right: 400px; 
    top: 100px;
    z-index: 3;
}
.p-surfing {
    color: #ffffff;
    font-size: 34px;
    text-align: center;
}
.p1-surfing {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.input-email {
    border-radius: 20px;
    padding: 5px;
}

/* <!-- bg-img section --> */

.button {
    border-radius: 70px;
    padding: 5px;
}
/* .div-icon .row .col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */
.column-4 {
    background-color: #F4F4F4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.bg-div {
    background-image: url(./images/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}
.bg-div-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.bg-div-title h3 {
    margin-top: 150px;
}
.bg-div-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.btn {
    color: #ffffff;
    background-color: #08AEEA;
    border-radius: 45px;
    border: none;
    padding: 15px;
    max-width: 170px;
    width: 100%;
}

/* destination section */
.img-absolute {
    position: absolute;
    right: 20px;
    bottom: 15px;
    z-index: 2;
    padding: 5px;
    background-color: #08AEEA;
    border-radius: 50%;
    max-width: 40px;
    width: 100%;
    max-height: 40px;
    height: 100%;
}
.div-absolute {
    position: absolute;
    left: 12px;
    bottom: 0px;
    z-index: 2;
    padding: 4px;
}
.div-absolute p {
    color: #ffffff;
    /* font-size: 15px; */
    line-height: 0.3;
    font-weight: bold;
    padding: 5px;
}

.map {
    width: 100%;
    height: 435px;
    margin-top: 80px;
}
.div-footer {
   background-color: black;
   width: 100%;
}
.ul-footer {
    /* padding: 30px */
}
.input-email {
    max-width: 340px;
    width: 100%;
}
.div-rights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    border-top: 1px solid #ffff;

}
.col-6 {
    padding: 0!important;
}
.row {
    padding: 0!important;
}
.f-a {
    color: white;
}
.label {
    color: white;
}
.py-3 {
    color: white;
}

/* page-2 */

.title-h1 {
    margin-top: 100px;
    text-align: center;
}
.title-h1:hover {
    color: red;
    -webkit-transition: all 0.5s linear 0.5s;
    -o-transition: all 0.5s linear 0.5s;
    transition: all 0.5s linear 0.5s;
}
.money {
    max-width: 400px;
    width: 100%;

}
.icon-fb {
    color: #ffff;
    font-size: 20px;
    
}
.icon-fb:hover {
   color: blue;
   -webkit-transition: all 0.5s linear 0.5s;
   -o-transition: all 0.5s linear 0.5s;
   transition: all 0.5s linear 0.5s;
}

/* page-3 */
.p-italy {
    font-size: 32px;
    max-width: 800px;
    width: 100%;
    font-weight: 10;
    line-height: 1.5;
}

/* page-4 */
.div-paris {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.div-paris:hover {
    color: aqua;
    -webkit-transition: all 0.5s linear 0.5s;
    -o-transition: all 0.5s linear 0.5s;
    transition: all 0.5s linear 0.5s;
}
.p-paris {
    font-size: 24px;
    max-width: 800px;
    width: 100%;
    margin-bottom: 100px;
  
}
.p2-paris {
    font-size: 24px;
    max-width: 700px;
    width: 100%;
}
/* fonts */
.font-semibold {
    font-family: 'Raleway', sans-serif;
}

.font-medium {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #8D8D8D;
}
.font-medium-blue {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #4B54FA;
}
.font-italic {
    font-family: 'Raleway', sans-serif;
}